<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        body {
            background-image: url("https://miro.medium.com/max/3840/1*QDQvlCg420lzRElCK4AYhw.png");
            width: 100%;  
            background-size: cover;            
            height: 100vh;
        }

        .container {
            background-color: white;
        }

        a {
            color: #000;
        }

        a:hover {
            color: #61dafb;
        }
    </style>
</head>

<body class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="h1 text-center">Menu</div>
        <div style="background-color: #61dafb;" class="h3 text-center">Escolha o CRUD:</div>

        <div style="height: 20vh;" class="w-100 d-flex flex-column align-items-center justify-content-around h4"
            id="container">
            <a href="/gui">CRUD do Guilherme</a>
            <a href="/dio">CRUD do Diogenes</a>
        </div>
</body>

</html>