<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="localhost:3000/dio/show" target="_blank">Diogenes' CRUD</a>
    <a class="navbar-brand" href="/gui/show2">Listagem</a>
  </nav>
  <div class="container">
    <div style="margin: 35px 0;" class="h1 text-center">Cadastro de Livros:</div>
    <form action="/gui/show2" method="POST">
      <input class="form-control" type="text" placeholder="Nome do Livro" name="name"><br>
      <input class="form-control" type="text" placeholder="Autor" name="publisher"><br>
      <input class="form-control" type="text" placeholder="Versão" name="desenvolvedora"><br>
      <textarea class="form-control" type="text" placeholder="Sinópse" name="descricao"
        style="height: 150px;"></textarea><br>
      Lançamento:<input class="form-control" type="date" placeholder="Data de lançamento" name="lancamento"><br>
      <input class="form-control" type="number" placeholder="Preço" name="preco"><br>
      <input class="form-control" type="number" placeholder="Nota" name="nota"><br>
      <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 14px; margin-bottom: 30px;">
        <select class="form-control" type="text" placeholder="Tipo" name="tipo">
          <option value="Administracao">Administração</option>
          <option value="Agropecuaria">Agropecuária</option>
          <option value="Ciencias Exatas">Ciências Exatas</option>
          <option value="Contabilidade">Contabilidade</option>
          <option value="Cursos e Idiomas">Cursos e Idiomas</option>
          <option value="Didaticos">Didáticos</option>
          <option value="Engenharia e Tecnologia">Engenharia e Tecnologia</option>
          <option value="Esportes e lazer">Esportes e lazer</option>
          <option value="Religiao">Religião</option>
        </select>
        <select class="form-control" type="text" placeholder="Linguagem" name="lingua">
          <option value="Português">Português</option>
          <option value="Ingles">Inglês</option>
          <option value="Alemao">Alemão</option>
          <option value="Japones">Japonês</option>
          <option value="Espanhol">Espanhol</option>
          <option value="Italiano">Italiano</option>
          <option value="Sueco">Sueco</option>
          <option value="Polones">Polonês</option>
          <option value="Russo">Russo</option>
        </select>
      </div>
      <button class="btn btn-primary" style="width: 100%;" type="submit">Cadastrar</button>
    </form>
    </h2>
</body>

</html>