<!DOCTYPE html>
<html lang="pt-br">
<head>
 
 <title>ATIVIDADE</title>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    width: 800px;
    margin: 0 auto;
  }
</style>

 
</head>
<body>
  {{> header}}
  <div class="container" >
    {{{body}}}
  </div>
  {{> footer}}  
</body>
</html>




