<div>
  <h1>{{ title }}</h1>
  <form action="/api/update" method="POST">
    <div id="form" >
      {{#each dados}}
      <div id="form" >
        <input  placeholder="Text input" type="text" value="{{@key}}">
        <input  placeholder="Text input" type="text" value="{{this}}" name="{{@key}}">
      </div>
      {{/each}}
    </div>
    <button id="inp" onclick="addInput()" type="button" >Novo
      Campo</button>
    <button type="submit">Salvar</button>
  </form>
  <div class="buttons">

    <a href="http://localhost:8080/api/list">Voltar</a>

  </div>
</div>

<script>
  function addInput() {
    var item = prompt('Insira um valor chave', '');
    var form = document.createElement("input").setAttribute('name', item);
    console.log(form)
    var input = document.createElement("input");
    var label = document.createElement("label");
    var text = document.createTextNode(item)

    var del = document.createElement('input')

    input.setAttribute('name', item);
    input.setAttribute('placeholder', 'Insira um valor');
    input.setAttribute('class', 'form-control');

    del.setAttribute('type', 'button')
    del.setAttribute('value', 'Deletar')
    del.setAttribute('id', 'btnDeletar')

    if (item === null || item === '') {
      return false
    } else {
      document.getElementById("form").appendChild(text);
      document.getElementById("form").appendChild(input);
      document.getElementById("form").appendChild(del);
      document.getElementById("btnDeletar").onclick = function () {
        console.log('oi')
        document.getElementById("form").removeChild(text);
        document.getElementById("form").removeChild(input);
        document.getElementById("form").removeChild(del);
      }
    }


  }
</script>