<style>
  #form {
    padding: 20px 20px;
  }
</style>
<div>
  <h1>{{ title }}</h1>
  <form action="/api/register" method="POST">    
    <input type="text" placeholder="Nome" name="name">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="idade" name="idade">
    <input type="text" placeholder="cpf" name="cpf">
    <input type="text" placeholder="rg" name="rg">
    <input type="text" placeholder="endereço" name="endereço">
    <input type="text" placeholder="rua" name="rua">
    <input type="text" placeholder="cidade" name="cidade">
    <input type="text" placeholder="estado" name="estado">
    <button type="submit">Salvar</button>
  </form>
  <div class="buttons">
    <a class="btn btn-secondary btn-lg active" href="http://localhost:8080/api/list">Voltar</a>
  </div>
</div>
